html {
    font-family: "Syne Mono", monospace;
    font-size: 24px;
}

html {
    background-color: black;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color:black;
    padding: 40px 40px 20px 40px;
    border: 10px solid rgb(17, 192, 55);
}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 0;
    padding: 20px 0;    
    color: rgb(17, 192, 55);
    text-shadow: 3px 3px 1px black
}

p, li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 0 auto;
}

footer {
	background-color: black;
	color: #FD58AA;
	padding: 10px;
}

footer {
    text-align: center;
	font-size: 18px;
    letter-spacing: 1.5pt;
    color: #FD58AA
}
h2 {
	margin: 0;
}

h2, #currentdate {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 20px 0;    
    color: rgb(17, 192, 55);
    text-shadow: 3px 3px 1px black
}
main {
	margin: 10px auto;
	border: 1px solid rgb(17, 192, 55);
	padding: 10px;
	max-width: 500px;
	background-color: white;
	box-shadow: 0 0 30px;
}

h3 {
	font-size: 24px;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgb(17, 192, 55);
	padding: 0;
}

label {
    color: rgb(17, 192, 55);
	display: block;
	margin: 5px;
}

input, button {
    box-align: center;
padding: .5rem;
}