html {
    font-family: "Nothing You Could Do", cursive;
    font-size: 12px;
}

html {
    background-color: #FD58AA;
}

body {
    width: 450px;
    margin: 0 auto;
    background-color: aqua;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    font-size: 60px;
    margin: 0;
    padding: 20px 0;    
    color: #00539F;
    text-shadow: 3px 3px 1px black
}

p, li {
    font-size: 10px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 0 auto;
}